.grid-wrapper {
	display: grid;
	grid-gap: 0.5vw;
	/*grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
	grid-template-rows: auto;*/
	grid-template-areas:
		"item item item item item item"
		"item item item item item item"
		"item item item item item item"
		"item item item item item item"
		"item item item item item item"
		"item item item item item item"

}

.game-field {
  background-color: orange;
  min-height: 5em;
  min-width: 3em;
}

.target {
  display: flex;
  background-color: green;
  color: white;

  font-size: 12pt;
  align-items: center;
  justify-content: center;

  min-height: 5em;
  min-width: 3em;
}

.miss {
  background-color: red;

  min-height: 5em;
  min-width: 3em;
}
